@font-face {
  font-family: 'icon_consolidada';
  src:  url('../fonts/icon_consolidada.eot?n435b6');
  src:  url('../fonts/icon_consolidada.eot?n435b6#iefix') format('embedded-opentype'),
    url('../fonts/icon_consolidada.ttf?n435b6') format('truetype'),
    url('../fonts/icon_consolidada.woff?n435b6') format('woff'),
    url('../fonts/icon_consolidada.svg?n435b6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_consolidada-"], [class*=" icon_consolidada-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon_consolidada' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_consolidada-:before {
  content: "\e903";
}
