/*-----------------------------------------------------------------------------------
	SaborPaulista
	About: A shiny new Blocs website.
	Author: Luciano
	Version: 1.0
	Built with Blocs
-----------------------------------------------------------------------------------*/
body{
	margin:0;
	padding:0;
    background:#FFFFFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow: hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent blue selection glow on Chrome and Safari */
a:hover{text-decoration: none; cursor:pointer;}


/* Preloader */

.page-preloader{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;animation-name: preloader-fade;animation-delay: 2s;animation-duration: 0.5s;animation-fill-mode: both;}
.preloader-complete{animation-delay:0.1s;}
@keyframes preloader-fade {0% {opacity: 1;visibility: visible;}100% {opacity: 0;visibility: hidden;}}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 20px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-lg{
	padding:100px 20px;
}
.bloc-sm{
	padding:20px;
}

/* = Full Width Blocs 
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .row{
	margin-left:0;
	margin-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}


/* Edge Dividers */

.bloc-shape-divider{
	position: absolute;
	width:100%;
	text-align:center;
	left:0;
	right:0;
	z-index: 0;
	display: flex;
	pointer-events: none;
}
.svg-divider{
	width:100%;
	height:100px;
	fill:#000000;
}
.bloc-divider-top{
	top:-1px;
	align-items: flex-start;
}
.bloc-divider-bottom{
	bottom:-1px;
	align-items: flex-end;
}


/* Flip Edge Divider */

.bloc-divider-flip-x svg{
	transform:scale(-1,1);
}
.bloc-divider-flip-y svg{
	transform:scale(1,-1);
}
.bloc-divider-flip-x.bloc-divider-flip-y svg{
	transform:scale(-1,-1);
}


/* Background Styles */

.bg-center,.bg-l-edge,.bg-r-edge,.bg-t-edge,.bg-b-edge,.bg-tl-edge,.bg-bl-edge,.bg-tr-edge,.bg-br-edge,.bg-repeat{
	-webkit-background-size: auto!important;
	-moz-background-size: auto!important;
	-o-background-size: auto!important;
	background-size: auto!important;
}
.bg-b-edge{
	background-position: bottom!important;
	background-repeat: no-repeat;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .card{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .card icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .card .btn-wire, .d-bloc .card .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}
/* Dividers */

.b-divider{
	border-top:1px solid rgba(0,0,0,.1);
	border-bottom:1px solid rgba(0,0,0,.1);
}


/* = NavBar
-------------------------------------------------------------- */

/* Handle Multi Level Navigation */
.dropdown-menu .dropdown-menu{
	border:none}
@media (min-width:576px){
	
.navbar-expand-sm .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-sm .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:768px){
	.navbar-expand-md .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-md .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:992px){
	.navbar-expand-lg .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-lg .dropdown-menu .submenu-left{
	right:100%;
	left:auto}
}
/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.a-block{
	width:100%;
	text-align:left;
	display: inline-block;
}
.text-center .a-block{
	text-align:center;
}

/* = Icons
-------------------------------------------------------------- */
.icon-md{
	font-size:30px!important;
}

/*  Rounded Image */
.img-rd-md{
	border-radius:20px;
}
.img-rd-lg{
	border-radius:34px;
}



.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}

/* = Classic Dividers
-------------------------------------------------------------- */
.divider-h{
	min-height: 1px;
	background-color:rgba(0,0,0,.2);
	margin: 21px 0;
}
.divider-half{
	width: 50%;
}
.dropdown-menu .divider-h{
	margin:0;
}



.carousel-nav-icon{
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	fill-rule: evenodd;
	stroke-linecap:round;
}


/* ScrollToTop button */

.scrollToTop{
	width:36px;
	height:36px;
	padding:5px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity:0;
	z-index:999;
	transition: all .3s ease-in-out;
	pointer-events:none;
}
.showScrollTop{
	opacity: 1;
	pointer-events:all;
}
.scroll-to-top-btn-icon{
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	fill-rule: evenodd;
	stroke-linecap:round;
}
/* = Lightbox
-------------------------------------------------------------- */

a[data-lightbox]{
	position: relative;
	display: block;
	text-align: center;
}
a[data-lightbox]:hover::before{
	content:"+";
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	font-size:32px;
	line-height: 42px;
	width:50px;
	height:50px;
	margin-left:-25px;
	border-radius: 50%;
	background:rgba(0,0,0,.5);
	color:#FFF;
	font-weight:100;
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
a[data-lightbox]:hover img{
	opacity: 0.6;
	-webkit-animation-fill-mode: none;
	animation-fill-mode:none;
}
.lightbox-caption{
	padding: 20px;
	color: #FFF;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 5px;
}
.close-lightbox:hover,.next-lightbox:hover, .prev-lightbox:hover{
	background:rgba(0,0,0,.5);
}
.next-lightbox, .prev-lightbox,.close-lightbox{
	position: absolute;
	padding:6px;
	background:rgba(0,0,0,.3);
	line-height:0;
	transition: background .2s ease-in-out;
	border-radius:.25rem;
	border:none;
	z-index:20;
}
.next-lightbox, .prev-lightbox{
	top:45%;
}
.close-lightbox{
	top:20px;
	right:20px;
}
.next-lightbox{
	right:25px;
}
.prev-lightbox{
	left:25px;
}
.lightbox-prev-icon,.lightbox-next-icon,.lightbox-close-icon{
	fill:none;
	stroke: #fff;
	stroke-width: 3px;
	fill-rule: evenodd;
	stroke-linecap:round;
}
.lightbox-close-svg{
	pointer-events:none;
}

/* Framless */
.frameless-lb{
	border-radius: 0;
	border:none;
}
.frameless-lb .modal-body{
	padding:0;
}
.frameless-lb .lightbox-caption{
	left:0;
	right:0;
	bottom:-16px;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	/*font-family:"Helvetica";*/
}
.container{
	max-width:1140px;
}
.h1slider{
	font-family:"Open Sans", sans-serif;
	font-weight:300;
	font-size:66px;
	position:relative;
}
.subtitulo{
	position:relative;
	font-family:"Open Sans", sans-serif;
	font-weight:300;
	font-size:33px;
}
.slider_botao{
	position:relative;
	font-family:"Open Sans", sans-serif;
	font-size:16px;
}
.logobolado{
	position:absolute;
	top:50px;
	z-index:90;
	margin:5px 5px 5px 5px;
}
.h1-style{
	font-family:"Open Sans", sans-serif;
	font-weight:700;
}
.h1-3-style{
	font-family:"Open Sans", sans-serif;
	font-weight:700;
}
.logomid{
	position:relative;
	top:-200px;
}
.bloco_quality{
	position:relative;
	margin-top:-200px;
	margin-bottom:-150px;
}
.img-style{
	width:555px;
	border-radius:0px 0px 0px 0px;
}
.img-acai-1024x10-style{
	width:555px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-radius:0px 0px 0px 0px;
}
.img-8-style{
	width:562px;
}
.menu{
	font-family:"Open Sans", sans-serif;
	font-weight:500;
	text-transform:uppercase;
	font-size:15px;
}
.h1-4-style{
	font-family:"Open Sans", sans-serif;
	font-weight:900;
}
.h3-style{
	font-size:24px;
	font-family:"Open Sans", sans-serif;
	font-weight:700;
}
.p-style{
	font-family:"Open Sans", sans-serif;
	font-weight:300;
	font-size:14px;
	line-height:25px;
}
.benefiq{
	margin-bottom:35px;
}
.bt-more{
	stroke-width:2;
	stroke:#FFFFFF;
	border-style:solid;
	border-color:#FEFFFF!important;
	font-size:14px;
	border-width:1px 1px 1px 1px;
}
.imgrodape{
	opacity:1.0;
	z-index:-1;
	position:relative;
}
.bloc-divider-t-fill{
	fill:#FFFFFF;
}
.bloco-rodape{
	position:relative;
	z-index:1;
}
.link-padding-top{
	padding-top:2px;
	padding-bottom:2px;
}
.p-bloc-8-style{
	font-family:"Open Sans", sans-serif;
}
.endereco{
	position:relative;
	margin-bottom:-10px;
}
.telefone{
	font-family:"Open Sans", sans-serif;
	font-weight:700;
	font-size:18px;
	caret-color:#000000;
	color:#000000!important;
}
.h3-bloc-8-style{
	font-size:18px;
	font-family:"Open Sans", sans-serif;
}
.iconwhats{
	font-size:25px;
	position:relative;
	display:inline-block;
	align-items:center;
	justify-content:flex-start;
}
.linkwhats{
	justify-content:flex-start;
	align-items:center;
	margin-top:5px;
	border-style:_popUpItemAction;
	top:-5px;
}
.caption-area{
	margin-bottom:80px;
}
.h1-bloc-1-style{
	font-family:"Open Sans", sans-serif;
	font-weight:700;
	font-size:66px;
}
.h3-bloc-1-style{
	font-family:"Open Sans", sans-serif;
	font-weight:300;
	font-size:33px;
}
.navbartopo{
	height:150px;
}
.menu-item{
	padding-right:25px;
	padding-left:25px;
}
.txt-bemvindo{
	position:relative;
	top:-40px;
}
.rodape{
	height:400px;
}
.bloc-divider-b-fill{
	fill:#FFFFFF;
	background-size:auto auto;
}
.bloco-bemvindo{
	height:450px;
}
.top-social{
	height:20px;
	max-height:20px;
	min-height:20px;
	border-style:solid;
	border-color:#F9EA1A!important;
	border-bottom-left-radius:0px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-width:0px 0px 1px 0px;
}
.tttt{
	height:40px;
	margin:-90px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.row-style{
	width:100%;
}
.acai-flutu{
	position:absolute;
	margin-left: calc(100% - 15%)!important;
	bottom:100px;
	z-index:9!important;
	width:470px;
}
.quali_div{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.img-seekp-style{
	width:400px;
	height:428px;
}
.quejo-flutu{
	position:absolute;
	margin-left:-300px;
	z-index:9!important;
	width:400px;
	flex-wrap:nowrap;
	top:-150px;
}
.img-pnge-style{
	width:364px;
}
.setinha{
	color:transparent!important;
}
.custom-topo{
	margin-top:10px;
	margin-bottom:10px;
}
.menu-topo{
	top:-70px;
	position:relative;
	text-transform:uppercase;
}
.hero-header-text{
	font-size:200px;
	font-weight:700;
	font-family:"Open Sans", sans-serif;
}
.hero-subheader{
	font-size:35px;
	font-weight:normal;
}
.pink-bg-gradient{
	background:linear-gradient(140deg, #FF007F, #9255F8);
}
.text-trans-gradient{
	background-clip:text!important;
	-webkit-background-clip:text!important;
	background:linear-gradient(0deg, rgba(255,255,255,0.0), #FFFFFF);
	color:transparent!important;
}
.socialbar{
	border-style:_popUpItemAction;
	border-color:#FBBE00!important;
	border-width:0px 0px 2px 0px;
}
.custom-coluna{
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
	min-height:33px;
	max-height:33px;
}
.teste-icon{
	position:relative;
	margin-right:10px;
	margin-left:10px;
}
.teste-div{
	position:relative;
	display:flex;
}
.img-destaques{
	z-index: 20!important;
}
.img-destaques:hover{
	opacity: 0.1;
}
.img-destaques:hover + div{
	opacity: 1!important;
}
.quali_div:hover div h3{
	margin-top: -20px;
}
.cardsProductHome p{
	color: #000000;
}
.cardsProductHome h3{
	color: #000000;
}
.quali_div:hover div p{
	margin-top: -20px;
}
.img-banner-style{
	width:169px;
}
.img-17-style{
	width:172px;
}
.card-header-style{
	width:100%;
}
.h3-standard-style{
	font-family:"Open Sans", sans-serif;
	font-weight:300;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-black{
	background-color:#000000;
}
.bgc-white{
	background-color:#FFFFFF;
}
.bgc-golden-yellow{
	background-color:#FFE500;
}
.bgc-white-smoke{
	background-color:#F7F7F7;
}
.bgc-olive-drab-7{
	background-color:#323232;
}

/* Text colour styles */

.tc-white{
	color:#FFFFFF!important;
}
.tc-black{
	color:#000000!important;
}
.tc-olive-drab-7{
	color:#323232!important;
}
.tc-purple-heart{
	color:#651797!important;
}
.tc-indigo-web{
	color:#4A1888!important;
}
.tc-golden-yellow{
	color:#FFE500!important;
}
.tc-shamrock-green{
	color:#1CA45C!important;
}

/* Button colour styles */

.btn-golden-yellow{
	background:#FFE500;
	color:rgba(0,0,0,.5)!important;
}
.btn-golden-yellow:hover{
	background:#ccb700!important;
	color:rgba(0,0,0,.5)!important;
}

/* Link colour styles */

.ltc-olive-drab-7{
	color:#323232!important;
}
.ltc-olive-drab-7:hover{
	color:#282828!important;
}
.ltc-davys-grey{
	color:#555555!important;
}
.ltc-davys-grey:hover{
	color:#444444!important;
}

/* Icon colour styles */

.icon-shamrock-green{
	color:#1CA45C!important;
	border-color:#1CA45C!important;
}
.icon-davys-grey{
	color:#555555!important;
	border-color:#555555!important;
}

/* Bloc image backgrounds */

.bg-yellow-bg{
	background-image:url("../img/yellow_bg.webp");
}
.bg-bg-fresh{
	background-image:url("../img/descubra-os-produtos_03.jpg");
}
.bg-page-header1{
	background-image:url("../img/rodape_03.jpg");
}

/* = Custom Bric Data
-------------------------------------------------------------- */



/* = Bloc Padding Multi Breakpoint
-------------------------------------------------------------- */

@media (min-width: 576px) {
    .bloc-xxl-sm{padding:200px 20px;}
    .bloc-xl-sm{padding:150px 20px;}
    .bloc-lg-sm{padding:100px 20px;}
    .bloc-md-sm{padding:50px 20px;}
    .bloc-sm-sm{padding:20px;}
    .bloc-no-padding-sm{padding:0 20px;}
}
@media (min-width: 768px) {
    .bloc-xxl-md{padding:200px 20px;}
    .bloc-xl-md{padding:150px 20px;}
    .bloc-lg-md{padding:100px 20px;}
    .bloc-md-md{padding:50px 20px;}
    .bloc-sm-md{padding:20px 20px;}
    .bloc-no-padding-md{padding:0 20px;}
}
@media (min-width: 992px) {
    .bloc-xxl-lg{padding:200px 20px;}
    .bloc-xl-lg{padding:150px 20px;}
    .bloc-lg-lg{padding:100px 20px;}
    .bloc-md-lg{padding:50px 20px;}
    .bloc-sm-lg{padding:20px;}
    .bloc-no-padding-lg{padding:0 20px;}
}


/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .container{width:100%;}
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 991px){
	.h1slider{
		top:-00px;
	}
	.hero-header-text{
		font-size:140px;
	}
	.hero-subheader{
		font-size:30px;
	}
	.mt-md-0{
	}
	.mt-md-4{
	}
	
}

@media (max-width: 767px){
	.text-right{
	}
	.text-left{
	}
	.text-center{
	}
	.hero-header-text{
		font-size:100px;
	}
	.hero-subheader{
		font-size:22px;
	}
	
}

@media (max-width: 575px){
	.footer-link{
		text-align:center;
	}
	.hero-header-text{
		font-size:50px;
	}
	.mt-1{
	}
	
}
